doctype html
html
  head
    meta(charset='utf-8')
    title=title
    link(rel='stylesheet', href='css/style.css')
    script(src='javascript/marked.js')
    script(src='javascript/main.js')
    script(src='https://use.fontawesome.com/f20ae5fe89.js')

  body

  block content
