

block content

  .navigation-body
    ul.file-tree
      each val in listOfFiles
        li
          a(href= val) #{val}
          i.fa.fa-trash
    a#new-file(href='javascript:void(0)') New File +
